<ul class="list-user">
  {{#each users}}
    <li>
      <div class="username">
        {{#if this}}
          {{{svg "user-cog"}}}
        {{else}}
          {{{svg "user"}}}
        {{/if}}
        {{@key}}
      </div>
      <div class="delete-user tip tip-w" aria-label="Delete user">{{{svg "trash"}}}</div>
    </li>
  {{/each}}
  <li class="add-user tip tip-n" aria-label="To update a password add the user again">{{{svg "plus"}}}Add/Update a user</li>
</ul>
