<ul class="list-user">
  {{#each users}}
    <li>
      <div class="username">
        {{#if this}}
          {{{svg "user-cog" "Privileged"}}}
        {{else}}
          {{{svg "user"}}}
        {{/if}}
        {{@key}}
      </div>
      <div class="delete-user tip tip-w" aria-label="Delete user">{{{svg "trash"}}}</div>
    </li>
  {{/each}}
  <li class="add-user">{{{svg "plus"}}}Add User</li>
</ul>
