<div class="pswp" tabindex="-1" role="dialog" aria-hidden>
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close tip tip-sw" aria-label="Close">
          {{{svg "cross"}}}
        </button>
        <button class="pswp__button pswp__button--fs tip tip-s" aria-label="Toggle fullscreen">
          {{{svg "fullscreen"}}}
        </button>
        <button class="pswp__button zoom-in tip tip-s" aria-label="Zoom in">
          {{{svg "zoomin"}}}
        </button>
        <button class="pswp__button zoom-out tip tip-s" aria-label="Zoom out">
          {{{svg "zoomout"}}}
        </button>
        <button class="pswp__button fit-v tip tip-s" aria-label="Fit vertically">
          {{{svg "arrows-v"}}}
        </button>
        <button class="pswp__button fit-h tip tip-s" aria-label="Fit horizontally">
          {{{svg "arrows-h"}}}
        </button>
        <button class="pswp__button autonext {{autonext}}tip tip-s" aria-label="Autoplay next">
          {{{svg "skip"}}}
        </button>
        <button class="pswp__button loop {{loop}}tip tip-s" aria-label="Loop videos">
          {{{svg "loop"}}}
        </button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <button class="pswp__button pswp__button--arrow--left">
        {{{svg "arrow"}}}
      </button>
      <button class="pswp__button pswp__button--arrow--right">
        {{{svg "arrow"}}}
      </button>
    </div>
  </div>
</div>
