<div class="arrow-back">{{{svg "arrow"}}}</div>
<div class="arrow-forward">{{{svg "arrow"}}}</div>
<button class="fs">{{{svg "fullscreen"}}}</button>
<div class="meta">
  <span class="counter">
    <span class="cur"></span>/<span class="max"></span>
  </span>
  <span class="dims"> - <span class="x"></span>x<span class="y"></span></span>
</div>
<figure class="media-container">
  {{#is type "image"}}
    <img src="{{src}}">
  {{else}}
    <video id="video-{{vid}}" src="{{src}}"></video>
  {{/is}}
</figure>
